{% extends 'base.html' %}
{% block title %}
Resultaat
{% endblock title %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="mt-5">{{ user.username }}, je scoorde {{ user_score }} van de {{ max_score }} punten.</h1>
        
        {% if user_score >= max_score_helft %}
            <p class="lead">Goed gedaan!</p>
        {% else %}
            <p class="lead">Spijtig, better luck next time.</p>
        {% endif %}

        <hr>

        <a href="{% url 'enquete:quizlist' %}"><input type="button" value="Terug naar lijst" class="btn btn-primary"></a>
    </div>

    
{% endblock content %}